.container {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.capa {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.line {
    width: 90%;
    margin: 40px 0;
    height: 2px;
    background-color: gray;
}

.titulo {
    margin-bottom: 20px;
}