.menu {
    width: 100%;
    position: fixed;
    top: 0;
}

.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #5297FF;
    height: 9vh;
    justify-content: space-between;
}

.header img{
    width: 9vh;
    height: 8vh;
    margin-left: 6vh;
}

.catalogo{
    display: flex;
    flex-direction:inherit;
    text-align: center;
    margin-bottom: 50px;
}

.catalogo a{
    width: 90%;
    padding: 5px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: rgb(247, 247, 76);
    cursor: pointer;
    border-radius: 2px;
    border: solid 1px white;
}

.catalogo a:hover{
    color: blue;
    background-color: rgb(247, 247, 76);
    opacity: 0.7;
    transition: 1s ;
}