:root {
    --cor-principal:#5297FF; 
    --cor-secundaria: rgb(247, 247, 76);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #5297FF;
    height: 9vh;
    justify-content: space-between;
}

.voltar {
    color: white;
    font-size: 16pt;
    text-decoration: none;
    margin-right: 40px;
}

.header img{
    width: 9vh;
    height: 8vh;
    margin-left: 6vh;
}

.catalogo{
    display: flex;
    flex-direction:inherit;
}

.catalogo a{
    width: 100%;
    padding: 5px;
    padding-left: 5%;
    align-items: center;
    text-decoration: none;
    color: blue;
    background-color: var(--cor-secundaria);
    margin-bottom: 40px;
    
}


