.container-card-cs {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 340px;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.2);
    margin: 10px;
}

.card-link-cs {
    margin: 20px 0;
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
}

.card-link-cs:hover {
    text-decoration: underline;
}

.card-img-cs {
    height: 210px;
}