.container-card-cs {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.card-link-cs {
    margin: 20px 0;
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center;
}

.card-link-cs:hover {
    text-decoration: underline;
}

