.container {
    align-items: center;
}

.info {
    width: 70%;
}

.row-between {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.texto {
    margin: 7px 0;
    display: inline-block;
}

.img {
    width: 100%;
}

.container-btn {
    margin-top: 30px;
}