.notfound-title, .codigo, .notfound-text {
    color: #808080;
    /* font-family: ; */
}

.codigo {
    font-size: 60pt;
}

.notfound-title{
    font-size: 30pt;
}

.notfound-text {
    font-size: 13pt;
    width: 60%;
    text-align: center;
    margin-top: 25px;
}